<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                Información
            </div>
            <div class="card-body">
                <marquee behavior="" direction="">
                    <h3 class="my-4">Datos en cartagena</h3>
                </marquee>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                Tablero de estadísticas
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-products' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h5>Tasa de defunciones <i class="fas fa-skull-crossbones"></i></h5>
                                    <h5 style="color: red">{{ product_count }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>