{% extends 'partials/base.html' %}
{% block title %}Tasa de defunciones{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Tasa de matricula escolar</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Año</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Cantidad de matriculas por año</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for education in education %}
                <tr>
                    <td>{{ education.year }}</td>
                    <td>{{ education.categoria }}</td>
                    <td>{{ education.cantidad }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'dashboard-educations-edit' education.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-educations-delete' education.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}